<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Detail</title>
</head>
<body>
<h1>{{ question.question_text }}</h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}


<form action="{% url 'polls:vote' question.id %}" method="post">

    {#    Since we’re creating a POST form (which can have the effect of modifying data), we need to worry about #}
    {#    Cross Site Request Forgeries. Thankfully, you don’t have to worry too hard, because Django comes with a very #}
    {#    easy-to-use system for protecting against it. In short, all POST forms that are targeted at internal URLs should #}
    {#    use the {% csrf_token %} template tag.#}
    {#防范外部跨站伪造攻击#}
    {% csrf_token %}


    {#    <ul>#}
    {% for choice in question.choice_set.all %}
        {#        forloop.counter indicates how many times the for tag has gone through its loop#}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br/>
        {#            <li>{{ choice.choice_text }}</li>#}
    {% endfor %}
    <input type="submit" value="Vote"/>
    {#    </ul>#}
</form>
</body>
</html>